<%-include('partials/header');-%>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<div class="col-sm-3 text-justify">
  <img height="200" class="img-circle center-block" src="https://avatars.githubusercontent.com/u/92920739?s=400&u=ff991fc47a1257710324b3f06b66694540d579a4&v=4">
    <center><h1>Dimas Maulana</h1><h1></h1></center>
    <center><i>cyber security enthusiast</i></center>
    <hr>
    <p>Hello there my name is Dimas Maulana, i am a cyber security enthusiast and a Capture The Flag (CTF) player. My expertise is in web exploitation and binary exploitation.</p>
</div>
<div class="media-body">
  <%-content;%>
</div>
<%-include('partials/footer');-%>